@import url('./variables.css');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color);
	max-width: 100%;
	height: 100vh;
}

p {
	font-size: 1.8rem;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	font-size: 2.8rem;
	margin: 1rem;
	color: var(--text-secondary-color);
}


/* MOBILE */ /* MOBILE */ /* MOBILE */

@media ( max-width: 580px ) {
	main {
		display: flex;
		flex-wrap: wrap;
		margin-top: 3rem;
		width: 100%;
	}

	.statistics__wrapper {
		width: 100%;
	}

	.wheel__container {
		min-height: 20rem;
		width: 100%;
	}

	.wheel__spin__button {
		width: 9rem;
		height: 9rem;
	}
}


/* DESKTOP */ /* DESKTOP */ /* DESKTOP */

@media ( min-width: 581px ) {
	.statistics__wrapper {
		width: 35%;
	}

	.wheel__container {
		width: 65%;
	}

	.wheel__spin__button {
		width: 11rem;
		height: 11rem;
	}
}


main {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
}

.statistics__wrapper {
	background: var(--base-background-dark-color);
}

.statistics__section__result {
	overflow-y: scroll;
	max-height: 48rem;
}

.statistics__section__sectors {
	background: var(--base-background-medium-color);;
	border-top: 1px solid var(--base-border-medium-color);
}

.statistics__section__sectors section {
	display: flex;
}

.statistics__section__sectors section p {
	text-align: center;
	width: 50%;
	border: 1px solid var(--base-border-medium-color);
	border-top: none;
}

.statistics__section__sectors section p:first-child {
	width: 50%;
	border-right: none;
	border-top: none;
}

.wheel__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color);
}

.statistics__section {
	padding: 1rem;	
}

.wheel__navigation__section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: var(--background-color);
	padding: 1rem;
}

.wheel__section {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: var(--wheel-section-width);
	background-color: var(--background-color);
}

.wheel__wrapper {
	overflow: hidden;
	position: relative;
	width: var(--wheel-diameter);
	background-color: var(--background-color);
	margin: 0 auto;
}

.wheel__wrapper::before {
	content: '';
	display: block;
	padding: 50%;
	background: transparent;
}

.wheel {
    position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: 2rem solid var(--base-background-light-color);;
	background-color: var(--background-color);
}

.wheel__sector {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 50%;
	/* width: 20.6%; */
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
    left: 50%;
    transform-origin: bottom;
}

.wheel__sector:nth-child(odd) {
    background-color: var(--wheel-secondary-color);
}

.wheel__sector:nth-child(even) {
    background-color: var(--wheel-base-color);
}

.wheel__sector--points {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	justify-content: center;
	background: var(--base-background-light-color);;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	font-size: 2rem;
}

.arrow {
    position: absolute;
    width: 7rem;
    height: 7rem;
    clip-path: polygon(50% 100%, 0 50%, 100% 50%);
    background-color: var(--wheel-arrow-color);
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2;
}

button {
	cursor: pointer;
}

.wheel__special__button {
	background: tomato;
	color: var(--text-third-color);
	font-weight: bold;
	font-size: 1.6rem;
	padding: 2rem;
	border: none;
	border-radius: 4rem;
}

.wheel__spin__button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	background-color: var(--base-background-light-color);
	font-size: 2.6rem;
	color: var(--base-border-dark-color);
	font-weight: bold;
    border: none;
	font-family: sans-serif;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
}